EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=
EXPO_PUBLIC_API_BASE_URL=
EXPO_PUBLIC_CLERK_TOKEN_TEMPLATE=PantryTales
# Set to 'true' to use real Clerk authentication in development mode
EXPO_PUBLIC_USE_REAL_AUTH=false